:root {
  --black: #323232;
  --grey: #e6e6e6;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: 1fr 3.5fr;
}
.sidearea {
  background-color: var(--grey);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.sidearea img {
  border-radius: 50%;
  width: 150px;
  aspect-ratio: square;
}
.sidearea section {
    width: 100%;
  text-align: left;
}
.mainarea {
  background-color: var(--white);
}
